<html>
<head>
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Underscore -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>

  <!-- Backbone -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js"></script>

  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>

  <!-- BackboneFire -->
  <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>

  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="wrapper">


    <div class="nav-top row">
      <!-- Hamburger Nav -->
      <div class="mobile-nav">
           <div class="menu-btn" id="menu-btn">
      	<div></div>
      	<span></span>
      	<span></span>
      	<span></span>
           </div>

           <div class="responsive-menu">
              <ul>
                <li>
                  <%= form_tag('/profile', method: :get) do %>
                   <%= submit_tag "Profile"%>
                  <% end %>
                </li>
                 <li>
                   <%= form_tag('/log_out', method: :delete) do %>
                    <%= submit_tag "Log-Out"%>
                   <% end %>
                 </li>
              </ul>
           </div>
      </div>
      <!-- END Hamburger Nav -->
    </div>



    <div class="row">

      <div class="question-pain five columns">
        <!--     QUESTION FIELD         -->
        <div id="question-container">
          <div class="Qdiv">
            <h2 id='question-h2'>Why is a Raven like a writing desk?</h2><h2 id =   "timer">20</h2>
          </div>
          <ul id='answers'>
            <button class='question-li twelve columns' value = 0 >one</li>
            <button class='question-li twelve columns' value = 1 >two</li>
            <button class='question-li twelve columns' value = 2 >three</li>
            <button class='question-li twelve columns' value = 3 >four</li>
          </ul>
          <button type="button" class='question-li twelve columns' id="submit-answer">Submit</button>
        </div>
        <!--       END QUESTION FIELD END       -->
      </div>

      <div class="chat-pain six columns">

        <!--     CHAT SCOREBOARD          -->
        <div class="chat-demo-container">

          <header></header>
          <ul id="scoreboard">

          </ul>
          <div class='example-chat-toolbar'>
            <label for="nameInput">Username:<%= @current_user.username %> </label>
            <input type='text' hidden = true id='nameInput' value=<%= @current_user.username %> >
          </div>

          <div class='chat-inner-container'>

          <ul id='example-messages' class="example-chat-messages"></ul>
          </div>

          <div id ="chat-input">
            <input type='text' id='messageInput'  placeholder='Type a   message...'>
          </div>
          <div id="admin-container">
            <% if @current_user.admin == true %>
            <h3 id="game-options">Game Preferences</h3>
            <div class="admin-input">
              <h4>Questions</h4> <input type="number" id="start-questions" value= 10>
            </div>
            <div class="admin-input">
              <h4>Timer</h4> <input type="number"id="start-time" value= 20>

            </div>
            <button type="button" id="start-trivia">Start Trivia</button>
            <% end %>
          </div>
        </div>
        <!--     CHAT SCOREBOARD END      -->

      </div>

    </div>
    <div class="footer">
    <span class='footer sixteen columns'>
    </span>
  </div>

  </div>

</body>
</html>
