<h3>Welcome back <%= @user.username %></h3>

<%= form_tag('/log_out', method: :delete) do %>
  <%= submit_tag "Log-Out " %>
<% end %>

<p>
  You're signed in...
</p>
<%= form_tag('/', method: :get) do %>
  <%= submit_tag "Start Game!" %>
<% end %>
