<h3>Sign In!</h3>

<%= form_tag('/log_in', method: :post) do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign In"%>
<% end %>
<%= form_tag('/users/new', method: :get ) do %>
  <%= submit_tag "Sign up to Play", :id => 'sign_upBtn' %>
<% end %>
